@import "bootstrap-sprockets";
@import "bootstrap";

$primary-color: #333;

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #ccc;
  text-decoration: none;
}

.navbar {
  background-color: $primary-color;
}

.footer {
  background: $primary-color;
  color: white;
  padding: 20px;
  position: fixed;
  height: 60px;
  bottom: 0;
  width: 100%;
}

.jumbotron {
  background-image: asset-url('bg2.png');
  background-size: cover;
  height: 300px;
}